---
layout: page
title: Blog
permalink: /blog/
pagination: 
  enabled: true
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="block">
      <h1>Get the latest on what we're doing</h1>
      <p>Catch up with us, anytime and anywhere</p>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {% for post in paginator.posts %}
      <div class="post-area">
        <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
        <p class="post-date">{{ post.date | date_to_long_string }}</p>
        <p>
          {{ post.content | strip_html | truncatewords: 50 }}
        </p>
      </div>
      {% endfor %}
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">&laquo; Prev</a>
        {% else %}
          <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em>{{ page }}</em>
          {% elsif page == 1 %}
            <a href="/blog">{{ page }}</a>
          {% else %}
            <a href="/blog/page/{{ page }}/">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">Next &raquo;</a>
        {% else %}
          <span>Next &raquo;</span>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="col-md-3">
      <h2>Facebook</h2>
      <div class="fb-page" data-href="https://www.facebook.com/LapTrinhThatKyDieu/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LapTrinhThatKyDieu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LapTrinhThatKyDieu/">Lập Trình Thật Kỳ Diệu</a></blockquote></div>
    </div>
  </div>
</div>
